@{
    ViewData["Title"] = "Home Page";
}
<div class="head">
    <h1>Hazel Joy C. Sagre</h1>
    <h2>BSIT-32E2</h2>
    <img src="ww.jpg" alt="me" class="myphoto" />
</div>

<div class="intro">
    <p>Hello!</p>
</div>

<style>
    .intro {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        margin-top: 60px;
        color: Black;
    }

    body {
        background: url(background.jpg);
    }

    .head {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        color: black;
    }

    .myphoto {
        border-radius: 50%;
        width: 200px;
    }
</style>